.header {
    background-color: #f8f9fa;
    padding: 1rem;
    display: flex;
    justify-content: space-between;
}

.header ul{
    list-style: none;
    display:inline-flex;
    margin: 0;
    padding: 0;
}
